<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div><header th:insert="fragments/header :: header"></header>  </div>
<div class="container mt-5">
    <h2 class="mb-4">Book Detail</h2>
    <div th:switch="${book}">
        <div th:case="*">
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th scope="row">ISBN</th>
                    <td th:text="${book.isbn}"></td>
                </tr>
                <tr>
                    <th scope="row">Category</th>
                    <td th:text="${book.categories[0].name}"></td>
                </tr>
                <tr>
                    <th scope="row">Book Name</th>
                    <td th:text="${book.name}"></td>
                </tr>
                <tr>
                    <th scope="row">Author</th>
                    <td th:text="${book.authors[0].name}"></td>
                </tr>
                <tr>
                    <th scope="row">Publisher Name</th>
                    <td th:text="${book.publishers[0].name}"></td>
                </tr>
                <tr>
                    <th scope="row">Book Description</th>
                    <td th:text="${book.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:case="null">
            <h2>No Data Found</h2>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
